.chat-page-container {
    position: absolute;
    inset: 0;
    margin: 1rem;

    .chat-page {
        height: 80vh;
        width: 80vw;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: grid;
        grid-template-rows: auto 1fr auto;
        
        @include for-mobile-layout {
            transform: translate(-50%, -35%);
            height: 80vh;
            width: 100vw;
           
        }
    }
}