.friends-list-container {
    display: grid;
    overscroll-behavior-x: contain;
    overflow-y: hidden;
    width: 100%;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    padding-right: 20px;
    margin-bottom: 2em;


    @include for-mobile-layout {
        grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        margin-bottom: 0em;
    }
}